@model IEnumerable<Nebb.Data.ViewModels.TicketAViewModel>

@{
    ViewData["Title"] = "ListTicketA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListTicketA</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PassengerInfo.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassengerInfo.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassengerInfo.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassengerInfo.Passport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightInfo.Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightInfo.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightInfo.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightInfo.ReturnDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket.FreeCarry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket.CheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket.TrolleyBag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreeCarry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrolleyBag)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
