@model Nebb.Data.Models.PassengerInfo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Passenger Informations</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">First Name</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">Last Name</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">Date of Birth</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">Passport Number</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passport)
        </dd>
        <dt class = "col-sm-2">Loyal Member ID:</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoyalMemberId)
        </dd>
        <dt class = "col-sm-2">Using loyal member credits?</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseLoyalMember)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
